html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
  border-bottom: thin solid;
  padding-left: 1rem;
  padding-top: 1rem;
}

header p {
  margin-top: 0.2rem;
}

footer {
  border-top: thin solid;
  padding: 1rem;
}

nav {
  border-right: thin solid;
  list-style-type: none;
  padding: 1rem;
  min-width: 200px;
}

nav li span {
  opacity: 0.3;
  padding: 0.2rem 0.5rem;
  display: inline-block;
}

nav li a {
  color: #333;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  padding: 0.2rem 0.5rem;
}

nav li a:hover,
nav li.selected a {
  background-color: #ddd;
}

.container {
  display: flex;
}

ul {
  margin: 0;
}

h1 {
  margin: 0;
}

canvas,
main,
section {
  outline: none;
}

main {
  padding: 1rem;
}
canvas {
  border: thin solid #ddd;
}

section {
  max-width: 1020px;
}

.references-list {
  list-style-type: none;
  margin-top: 1rem;
}

.references-list li {
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.references-list li .editorial,
.references-list li .author,
.references-list li a {
  font-size: 0.9rem;
  color: #555;
}
