html, body {
    margin: 0 auto;
    padding: 0;
    background-color: beige;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

header, main {
    margin: 0 auto;
    text-align: center;
}

canvas {
    display: block;
    margin: 0 auto;
    border: thin solid #333;
    background-color: white;
}