html, body {
    margin: 0 auto;
    padding: 0;
    background-color: #ddd;
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1 {
    margin: 0;
}

header, main {
    margin: 0 auto;
    text-align: center;
    max-width: 1024px;
}

header {
    padding: 20px;
    background-color: #ccc;
}

nav li {
    list-style-type: none;
}

ol, ul, nav {
    text-align: left;
}

canvas {
    display: block;
    margin: 0 auto;
    border: thin solid #333;
    background-color: white;
}